################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RateLimiter/.vs/RateLimiter
/RateLimiter/RateLimiter/bin/Debug/net8.0
/RateLimiter/RateLimiter/obj
